/**
* Stylesheet.
*/

body {
  background-image:url("docs/background.png");
}

div {
  text-align:center;
}

p {
  margin:5px;
}

div#body {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div#info {
  display:inline-block;
}

div#picture {
  float:left;
  margin:10px;
}

div#links {
  float:left;
}

div.project {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:80%;
  border:2px black solid;
  background-color:lightgray;
}

p#name {

}

p#last_updated {
  color:gray;
}

img#me {
  width:300px;
  height:420px;
}


