/**
* Stylesheet.
*/

@import url(http://fonts.googleapis.com/css?family=Signika);

body {
  background-image:url("docs/background.png");
  font-family:"Signika", serif;
}

div {
  text-align:center;
}

p {
  margin:5px;
}

div#body {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div#me {
  display:inline-block;
}

div#picture {
  float:left;
  margin:10px;
}

div#info {
  float:left;
}

div#MIT {
  margin-top:50px;
  margin-bottom:50px;
}

div#links {
  margin-top:50px;
  margin-bottom:50px;
}

div#contact {
  margin-top:50px;
  margin-bottom:50px;
}

div.year {
  display:inline-block;
  margin-left:33%;
  margin-right:33%;
}

div.term {
  float:left;
  margin:20px;
}

div.course {
  margin:2px;
  border:2px black solid;
  background-color:lightgray;
}

div.project {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:60%;
  border:1px gray solid;
  background-color:lightgray;
}

p#name {
  font-size: 40px;
}

p#last_updated {
  color:gray;
}

p#title {
  font-size: 30px;
}

img#me {
  width:300px;
  height:420px;
}
